@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
  justify-content: center; 
  align-items: center;
  height: 10vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}
